:root {
  --primary-color: #EEF5FF;
  --font-primary: #0D2B51;
  --font-muted: #a5a5a5;
  --font-extra-muted: rgba(219, 219, 219, 0.8);
  --font-white: #FFFFFF;
  --alert: #D86479;
  --button: #174A8B;
  --step-background: #C1E2FF;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--primary-color);
}